header{
    padding-left: 400px;
    background-color:rgb(77, 177, 235);
}
.question-wrapper h2{
    padding-left: 400px;
}
.question-wrapper h3{
    padding-left: 400px;
}
.question{
    padding-left: 400px;
    padding-top: 50px;
}
.options{
    padding-top: 70px;
}
.options p{
    padding-left: 400px;
}
.past-answers{
    padding-left: 400px;
    padding-top: 50px;
}
.answer{
    padding-left: 400px; 
}
.next-question{
    padding-top: 25px;
}
.end{
    padding-left: 400px; 
    padding-top: 30px;
}